body {
  background-color: rgb(250, 250, 250);
}

.background {
  height: 100%;
  width: 100%;
  background-image: url("../src/img/backgroundcovid.jpg");
  background-size: stretch;
  background-repeat: repeat;
  background-position: center;
}

h1 {
  color: white;
  font-size: 4em;
  background-color: black;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
  width: 40%;
  border-radius: 30px;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
